.spell-card {
	cursor: pointer;
	background: #009eb2;
	border-radius: 5px;
	padding-bottom: 8px;
}

.spell-card + .spell-card {
	margin-top: 12px;
}

.spell-card-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.spell-card-section > p {
		padding-left: 1.5em;
		padding-right: 1.5em;
		width: 100%;
}

.spell-card a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}
