.create-spell-title {
	margin-top: 0;
	padding-top: 10px;
}

#create-form {
	margin: 10px 3%;
}

#create-form button {
	flex:1;
	border: solid 1px #4c4c4c;
	border-radius: 4px;
	width: 291px;
	margin-top: 0.5em;
	height: 2.2em;
	font-size: 20px;
	font-weight: bold;
}

#create-form > * {
	margin-top: 8px;
	margin-bottom: 4px;
}

#create-form input {
	width: 280px;
	margin-top: 7px;
	height: 1.5em;
	border-radius: 3px;
	border: solid 2px #898989;
	font-size: 17px;
}

#create-form textarea {
	font-family: inherit;
	font-size: 16px;
	width: 450px;
	height: 9.2em;
}

.optional-pair {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 0;
	margin-right: 0;
}

.optional-pair input {
	flex: 1;
	max-width: 170px;
}

@media all and (min-width: 730px) {

	.optional-pair {
		padding-right: 25%;
		padding-left: 25%;
	}

	#create-form textarea {
		width: 500px;
	}
}

@media all and (min-width: 1100px) {

	.optional-pair {
		padding-right: 35%;
		padding-left: 35%;
	}
	#create-form textarea {
		width: 700px;
	}
}
