.App {
  text-align: center;
}

.main-content {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

@media all and (min-width: 900px) {

	.main-content {
		flex-direction: row;
	}

}
