.App {
  text-align: center;
}

.main-content {
	display: flex;
	justify-content: space-around;
	flex-direction: column;

}
main {
	background: #f4eea9;
	min-height: calc(100vh - var(--header-height));
}
@media all and (min-width: 900px) {

	.main-content {
		flex-direction: row;
	}

}
